@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --main-color: #fff;
  --black: #000;
}

body {
  background-color: var(--main-color);
  color: var(--black);
  font-family: "Smooch Sans", serif;
}

.form-control:focus {
  border-color: var(--dark-main-color);
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--dark-main-color);
}